#registration input{
    display: flex;
    padding-left: 10px;
    border-radius:20px;
    color: white;
    border: solid white;
    background: transparent;
    height: 42px;
    width: 250px;
    margin-left: 13px;
    
}
#registration{
    display: flex;
    justify-content: center;
    color: white;
    background: transparent;
    flex-direction: column;
    align-items: center;

}
h1{
    display: flex;
    color: white;
    justify-content: center;
}

.signup{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background: transparent;
    margin:50px 300px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

#registration label{
    display: flex;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;

}

input:focus,
select:focus,
button:focus {
    outline: none;
}

#submit-button{
    display: flex;
    font-size: large;
    justify-content: center;
    
}

#registration .error input{
    border: 1px solid red;
}

.errorlist{
    color: red;
}
